<nav class="top-nav navbar navbar-expand-lg navbar-light" style="background-color: #1d1d1d;">
  <div class="container-fluid">
    <div class="col-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown">
            <a class="navbar-brand" href="/">
              <img src="<%= image_path('brand.png') %>" class="brand">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Workshops</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <ul class="navbar-nav">
        <div class="input-group">
          <span class="input-group-append bg-white">
            <span class="input-group-text bg-transparent">
              <img src="<%= image_path('search.png') %>" class="search-icon">
            </span>
          </span>
          <input class="form-control mr-sm-2 border-left-none" type="search" placeholder="What do you want to learn today" aria-label="Search">
        </div>
      </ul>
    </div>

    <div class="col-4">
      <ul class="navbar-nav navbar-right justify-content-end align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <span class="account-title"> My Classes </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="<%= image_path('notification.png') %>" class="notification">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">
            <img src="<%= image_path('user-icon.png') %>" class="rounded-circle user-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
