<!-- Move to application -->
  <%= stylesheet_pack_tag 'app' %>
  <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>
<!-- End move -->

<div id="app" data-current-user="<%= current_user ? current_user.attributes.merge(
  {
    image_url: current_user.image_url,
    has_password: current_user.has_password,
    sub_status: current_user.sub_status,
  }).to_json : nil.to_json %>" >
</div>
