<%= javascript_pack_tag 'hello_vue' %>

<div id="app" class="text-black-50">
</div>

<div class="container main-wrapper">
  <div class="row">
    <div class="col-6 welcome">
      <img src="<%= image_path('welcome.png') %>" class="h-100 w-100">
    </div>

    <div class="col-6 mx-5 video-frame">
      <div class="video-thumb">
        <img src="<%= image_path('thumbnail.png') %>" class="h-100 w-100">
      </div>
      <div class="mt-5 text-end">
        <button class="btn btn-md btn-dark rounded-0 align-items-center"> 
          <span> Next step </span>
          <img src="<%= image_path('next-arrow.png') %>" class="next-arrow">
        </button>
      </div>
    </div>
  </div>
</div>