@charset "utf-8";

@import "reset/normalize";

@import "selectize";
@import "datetime_picker";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";

#resource-attachment {
  .add_attachment {
    margin-bottom: 20px;
  }

  .remove_attachment {
    margin-top: 20px;
    text-align: center;
  }
}

#subscription-cancel-btn {
  text-align: center;
}

.status_tag {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.75em;
  width: 100px;
  border-radius: 3px;
  text-align: center;

  &.active {
    background: green;
  }
  &.cancelled {
    background: #d45f53;
  }
}
