$font-futura: 'Futura';
$font-family-base: $font-futura;
$headings-font-family: $font-futura;
$font-size-base: 0.9rem;
$enable-negative-margins: true;
$input-focus-box-shadow: 0 0 0 0.25rem rgb(138, 200, 50);
$btn-focus-box-shadow: none;

@import '~bootstrap/scss/bootstrap';
@import './base';
@import './onboard';
