$font-futura: 'Futura';
$font-family-base: $font-futura;
$headings-font-family: $font-futura;
// $font-size-base: 0.9rem;

@import '~bootstrap/scss/bootstrap';
@import './base';
@import './nav';
@import './header';
