.main-wrapper {
  min-height: 1000px;

  .video-frame {
    background-image: url('/assets/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    .video-thumb {
      margin-top: 180px;
    }
  }

  .welcome-img {
    margin-top: 180px;
    max-width: 484px;
    max-height: 350px;
  }

  .next-arrow {
    width: 15px;
    height: 12px;
  }
}

.devise-form {
  border: 1px solid #ced4da;
}
