.onboard {
  .btn-box {
    height: 60px;

    .btn {
      border-radius: 0;
    }
  }

  .selected {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  .btn-dark-50 {
    background-color: #d8d8d8;
  }

  .grey-box {
    background: #f1f1f1;
    width: 180px;
    height: 80px;
    border-radius: 5px;
  }

  .title {
    font-size: 35px;
  }

  .checked-circle {
    height: 75px;
    width: 75px;
  }
}

.onboard, .home-page, .payment {
  button > img, button > span {
    vertical-align: middle;
  }

  .bg-green {
    background-color: #89c731;
  }
}
