#onboard {
  .btn-box {
    height: 60px;

    .btn {
      border-radius: 0;
    }
  }

  .grey-box {
    background: #f1f1f1;
    width: 180px;
    height: 80px;
    border-radius: 5px;
  }

  .title {
    font-size: 35px;
  }

  .checked-circle {
    height: 75px;
    width: 75px;
  }
}